In [1]:
import sys

sys.path.append('../src')
import company
import request

In [2]:
company_list = company.list_all()

In [3]:
company_list

                                idCompany                      name
0    22216fda-f0b0-4777-ad30-8450edf1bb9f        2i Rete Gas S.p.A.
1    66b6dd79-c3de-4614-a5b0-2bfdbeb39717                    ADNOC
2    a3425f96-1c5c-4a5e-8d20-8bb07a3ccdb3              Adriatic LNG
3    9fcf651c-1e33-45e2-a21a-e5057a3e52a2               Adrigas SpA
4    1c616e8f-30ee-477d-b8e3-249556584b85                    akerbp
..                                    ...                       ...
113  4a641208-5914-487b-b1d2-1787e3cada6b             Wapiti Energy
114  fa4daf98-b9d3-4d44-858d-95aace35b63e  Westland Infra Netbeheer
115  a8211e62-8eff-11ee-b9d1-0242ac120002                  Williams
116  492cfae1-e2d9-4a74-8e72-bbdb2280e040        Wintershall Dea AG
117  c13762ad-c40c-47d6-89bf-38efd4d19e76                        XP

[118 rows x 2 columns]

In [4]:
companyname = 'ADNOC'
companyid = company.find_id(companyname)
companyid

KeyError: 0

In [5]:
company.get_info(companyid, year)

,company,companyName,year,target,methaneEstimates,methaneEstimateUnits,dataQuality,dataQualityEquity,methaneEstimatesEquity,goldstandard
value,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,0.15,0,kt,NaN,NaN,0,NaN
type,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,INTENSITY,0,kt,NaN,NaN,0,NaN
units,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,%,0,kt,NaN,NaN,0,NaN
year,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,2025,0,kt,NaN,NaN,0,NaN
description,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,maximum amount of annual methane emissions by ...,0,kt,NaN,NaN,0,NaN
level,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,NaN,0,kt,[],NaN,0,NaN
levelEquity,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,NaN,0,kt,NaN,[],0,NaN
standard,66b6dd79-c3de-4614-a5b0-2bfdbeb39717,ADNOC,2024,NaN,0,kt,NaN,NaN,0,"[{'year': 2022, 'goldStandard': 'Pathway'}, {'..."