In [1]:
import sys
sys.path.append('../src')
import request
import country

In [2]:
country.list_all()

    code            name
0    xAB           Abyei
1    AFG     Afghanistan
2    xAC      Aksai Chin
3    ALB         Albania
4    DZA         Algeria
..   ...             ...
196  VNM        Viet Nam
197  ESH  Western Sahara
198  YEM           Yemen
199  ZMB          Zambia
200  ZWE        Zimbabwe

[201 rows x 2 columns]

In [3]:
country.find_id('Turkmenistan')

'TKM'

In [ ]:
country.get_stats('Turkmenistan')